streamlit
python-dotenv
openai

# PDF & DOCX
pymupdf
pdfplumber
PyPDF2
pdfminer.six
python-docx

# Embeddings
torch>=2.0.0
transformers>=4.36.0
sentence-transformers>=2.6.0
scipy

# LangChain (if needed)
langchain
langchain-openai
langchain-text-splitters

# Excel
openpyxl
xlrd

# Matching
rapidfuzz
