streamlit
python-dotenv
openai

# PDF & DOCX
pymupdf
pdfplumber
PyPDF2
pdfminer.six
python-docx


# LangChain (if needed)
langchain
langchain-openai
langchain-text-splitters

# Excel
openpyxl
pandas
xlrd

# Matching
rapidfuzz